.footer {
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    opacity: 1;
}

.lastSec {
    font-family: 'Poppins';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.useFul{
    font-family: 'Poppins';
    opacity: 1;
}
.Labs{
    font-family: 'Poppins';
    opacity: 1; 
}