.Empowering {
    /* top: 372px;
    left: 320px;
    width: 953px;
    height: 257px; */
    /* text-align: left; */
    font-family: Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.food {
    opacity: 1;

}

.btn {
    background: #278233 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}